<layout>
	<div class="blank-view" data-area="blankView"></div>
	<div class="file loading">
		<sidebar class="hidden" data-area="sidebar">
			<div class="toc" data-click="sidebar-select-thumbnail">
				<!-- pdf page thumbnails goes here -->
			</div>
		</sidebar>
		<content data-area="contentView">
			<svg class="loader" viewBox="25 25 50 50" >
				<circle class="loader-path" cx="50" cy="50" r="20" />
			</svg>
			<div class="page">
				<canvas></canvas>
				<div></div>
			</div>
		</content>
	</div>
</layout>
